<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqBD.Properties.Settings.VideoClube15ConnectionString"
            connectionString="Data Source=VideoClube15.mssql.somee.com;Initial Catalog=VideoClube15;Persist Security Info=True;User ID=major_SQLLogin_1;Password=kpogphtbap"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>